.row {
    max-width: 1200px;
    margin: 0 auto;
}

.tech {
    &__list {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;
        // justify-content: space-between;
    }

    // &__item {}
}