.nav-top {
    display: flex;
    justify-content: space-between;


    &__list {
        display: flex;
        list-style: none;
        justify-content: flex-end;
    }

    &__item {
        text-transform: uppercase;
        text-align: center;
        background-color: #777;
        color: white;
        margin: 20px;
        padding: 10px;
        font-size: 1.6rem;
    }

    &__logo {
        text-transform: uppercase;
        text-align: center;
        background-color: #777;
        color: white;
        margin: 20px;
        padding: 10px;
        font-size: 1.6rem;
    }
}